* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
}

a {
    text-decoration: none;
    color: yellow;
}

#films {
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
    background: black;
    background-attachment: fixed;
}

article {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

img {
    height: 300px;
    width: 200px;
    border-radius: 10%;
    margin-block-end: 10%;
}

title {
    width: 50%;
    align-self: flex-end;
}

.vote {
    width: 100%;
    text-align: right;
}

.date {
    color: rgb(255, 255, 255);
    width: 100%;
}

#busqueda {
    display: flex;
    justify-content: flex-end;
}

input[type=text] {
    font-size: 17px;
    border: transparent;
    float: left;
    width: 80%;
    background: #f1f1f1;
    height: 60px;
}

button {
    float: left;
    width: 20%;
    background: black;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 255, 85);
    color: white;
    transition: 1s;
}

::after {
    content: "";
    clear: both;
    display: table;
}

#films img:hover {
    -webkit-box-shadow: 0 20px 50px 0 white;
    -moz-box-shadow: 0 20px 50px 0 white;
    box-shadow: 0 20px 50px 0 white;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

#films title{
    cursor: pointer;
}

#films title:hover:after,
#films title.fav:after {
    content: 'f004';
    color: rgb(255, 203, 0);
}

#films title.fav:hover:after {
    content: 'f004';
}